<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="stus">
    <div class="clicks">
      <a href="/login">
        <button>登录</button>
      </a>
      <a href="/register">
        <button>注册</button>
      </a>
    </div>
  <h1>欢迎来到学生信息管理系统</h1>
  <div class="content">
  <span>登录及注册请点击右上角按钮</span>
</div>
</div>
<style>
.stus{
  position: relative;
  left: 0;
  top: 0;
}
.clicks{
  position: absolute;
  right: 0;
  top: 0;
}
.clicks>a{
  text-decoration: none;
}
  body{
    background-color: rgb(221, 179, 175);
  }
  h1{
    padding-top: 1rem;
    text-align: center;
  }
  .content{
    text-align: center;
  }
</style>
<script src="/public/js/flexible.js"></script>
</body>
</html>